<%= simple_form_for @post, :html => {:multipart => true} do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :final_date, as: :date, start_year: 2010, :required => true %>
    <%= f.input :picture, as: :file %>
    <div>
      </br>
      <%= f.button :submit, 'Enviar', :class => "btn btn-primary" %>
    </div>
<% end %>